@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default, dark --prefersdark;
  }
@theme {
  --color-primaryPurple: #5B4B8A;
  --color-primarySoft: #7C6EE6;
  --font-fredoka : "Fredoka", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-geistmono: "Geist Mono", sans-serif;
}
 @plugin "daisyui/theme" {
   name: "light";
   --color-primaryPurple: #5B4B8A;

 }
 @plugin "daisyui/theme" {
   name: "dark";
   --color-primaryPurple: #5B4B8A;

 }
.bg-ceramic-grid-dashed {
  background-color: #F1F5F9;
    background-image:
      linear-gradient(to right, #5B4B8A18 1px, transparent 1px),
      linear-gradient(to bottom, #5B4B8A18 1px, transparent 1px);
    background-size: 30px 30px;
}


.background-grid--fade-out::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(241, 245, 249, 0) 0%, #ffffff 99%);
  pointer-events: none;
}

.bg-ceramic-grid-inversed {
  background-color: #F1F5F9;
  background-image:
    linear-gradient(to right, #5B4B8A18 1px, transparent 1px),
    linear-gradient(to top, #5B4B8A18 1px, transparent 1px);
  background-size: 30px 30px;
}


.background-grid--fade-out-inversed::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(241, 245, 249, 0) 0%, #ffffff 99%);
  pointer-events: none;
}


.bg-diagonal-lines {
  background-color: #F8FAFC;
  background-image:
    linear-gradient(45deg,
      transparent 48%,
      #80808018 49%,
      #80808018 51%,
      transparent 52%);
  background-size: 20px 20px;
}

.bg-ceramic-dots {
  background-color: #F9F9F9;
  background-image: radial-gradient(#80808018 1px, transparent 1px);
  background-size: 10px 10px;
}
